<div id="fullpage">
	


		<div class="tagline">
		  <h1>JOON PARK</h1> 
		  <h2>confidence. passion.<span>&nbsp;</span></h2>
		</div>

	<div class="arrow">
		<%= link_to '', '#more', class: "fa fa-angle-double-down" %>
	</div>

</div>



<div id="more">
	<div class="arrow-up">
		<%= link_to '', '#fullpage', class: "fa fa-angle-double-up" %>
	</div>

	
	<div id="masonry_container">
	  <div class="item">1st 300</div>
	  <%= link_to '', "https://damp-springs-2575.herokuapp.com/", target: "_blank", class: "item medium ihave greyscale" %>
	  
	  <div class="item about">3rd 300</div>
	  <div class="item medium">4th 600</div>
	  <div class="item large">
		  <h2 class="top-center">Contact</h2>
		  
		  <ul class="contact-row"><li><%= link_to '', "https://www.linkedin.com/in/parkjoonw", class: "fa fa-linkedin fa-2x", target: "_blank" %></li>
	  	<li><%= link_to '', "https://github.com/kudoku", class: "fa fa-github fa-2x", target: "_blank" %></i></li>
	  	<li><i class="fa fa-envelope fa-2x"></i></li></ul>
	  	
	  </div>
	</div>
</div>


	
