<div id="fullpage">
	


		<div class="tagline">
		  <h1>JOON PARK</h1> 
		  <h2>confidence. passion.<span class="typed">&nbsp;</span></h2>
		</div>

	<div class="arrow">
		<%= link_to '', '#more', class: "fa fa-angle-double-down" %>
	</div>

</div>



<div id="more">
	<div class="arrow-up">
		<%= link_to '', '#fullpage', class: "fa fa-angle-double-up" %>
	</div>

	
	<div id="masonry_container">
	  <div class="item bio">
	  	<div class="item-content">
	  		
	  	</div>
	  </div>
	  <%= link_to '', "https://ihave.herokuapp.com/", target: "_blank", class: "item medium ihave greyscale" %>
	  
	  <div class="item "></div>
	  <div class="item medium about-me" id="about"><div class="span2"><h2>Fullstack RoR dev who is always looking for ways to test his skills. I simply love the "Aha, eureka!" moment of working code. While I'm not coding, I'm playing the violin and listening to the greats on high end audio setups.</h2></div></div>
	  <div class="item large">
		  <h2 class="top-center">Contact</h2>
		  
		  <ul class="contact-row"><li><%= link_to '', "https://www.linkedin.com/in/parkjoonw", class: "fa fa-linkedin fa-2x", target: "_blank" %></li>
	  	<li><%= link_to '', "https://github.com/kudoku", class: "fa fa-github fa-2x", target: "_blank" %></i></li>
	  	<li><%= link_to '', "mailto:park.joonw@gmail.com", target: "_blank", class: "fa fa-envelope fa-2x" %></li></ul>
	  	
	  </div>
	</div>
</div>


	
